body{   background:#333; color:#fff;   }


.pace {	-webkit-pointer-events: none;	pointer-events: none;	-webkit-user-select: none;	-moz-user-select: none;	user-select: none;}
.pace-inactive {	display: none;}
.pace .pace-progress {	 background:#29d;  position: fixed;	z-index: 2000;	top: 0;	right: 100%;	width: 100%;	height: 2px;}
.pace .pace-progress-inner {	display: block;	position: absolute;	right: 0px;	width: 100px;	height: 100%;	  box-shadow: 0 0 10px #29d, 0 0 5px #29d;	opacity: 1.0;	-webkit-transform: rotate(3deg) translate(0px, -4px);	-moz-transform: rotate(3deg) translate(0px, -4px);	-ms-transform: rotate(3deg) translate(0px, -4px);	-o-transform: rotate(3deg) translate(0px, -4px);	transform: rotate(3deg) translate(0px, -4px);}
.pace .pace-activity {	display: block;	position: fixed;	z-index: 2000;	top: 15px;	right: 15px;	width: 14px;	height: 14px;	border: solid 2px transparent;border-top-color: #29d;	border-left-color: #29d;	border-radius: 10px;	-webkit-animation: pace-spinner 400ms linear infinite;	-moz-animation: pace-spinner 400ms linear infinite;	-ms-animation: pace-spinner 400ms linear infinite;	-o-animation: pace-spinner 400ms linear infinite;	animation: pace-spinner 400ms linear infinite;}

@-webkit-keyframes pace-spinner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
	0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
	0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
	0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
	0% { transform: rotate(0deg); transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}



 .avideo::cue {     background: #111; padding:4px;     color: #fff; text-align:center;   }
img { display:none;} 


.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%; overflow:auto;
}

.tab button {
  display: block; overflow:auto;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 100%;
}



.free-trial-btnz {pointer-events:none;position: absolute;color: #fff;font-family: bitter;font-size: 18px;line-height: 26px;padding: 7px 14px 8px 14px;border-radius: 5px;background-color: #03ae78;box-shadow: 0 6px #028d61;border: none;
/*width: 400px;*//*max-width: 960px;*/
white-space: normal;left: 12px;bottom: 20px;    }
    .free-trial-btn:hover {        box-shadow: 0 4px #028d61;        top: 2px;        color: #fff;        text-decoration: none;    }
    .free-trial-btn:active, .free-trial-btn:focus, .free-trial-btn:active:focus {        color: #fff;        top: 3px;        box-shadow: 0 3px #028d61;        outline: none;    }
    .btn-subtext {        display: block;        font-size: 21px;        font-family: Lato, 'Helvetica Neue', 'Helvetica', Arial, sans-serif;        font-weight: 300;    }
.free-trial-secondary {    width: auto;    font-size: 28px;  }





.overlay {  height: 100%;  width: 100%;  position: fixed;  z-index: 1;  top: 0;  left: 0;display:none;  background: #111;  overflow: hidden;  transition: 0.5s;}
.overlay-content {  position: relative;  top:0px;transition: 0.2s;height:100%;  width: 100%;  text-align: center;}
.overlay a {  padding: 8px;  text-decoration: none;  font-size: 36px;  color: #818181;  display: block;  transition: 0.3s;}
.overlay a:hover, .overlay a:focus {  color: #f1f1f1;  transition: 0.1s;}
.overlay .csdslosebtn {  transition: 0.2s;  border: 1px solid #ddd;  background: #f6f6f6; color:#000;   padding: 12px 16px;}
.overlay .csdslosebtn:hover {  transition: 0.2s;background: #bbb; color:#000;}
.overlay .closebtn {      border-radius: 10px;   transition: 0.2s;  position: absolute;  right: 8px;  bottom: 65px;  z-index: 1000;  font-size: 30px;}
.overlay .closebtn:hover {  transition: 0.2s;}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {  transition: 0.2s;  font-size: 20px;   /*bottom: 8px;  right: 35px;*/   }
}



.player video{ left: 0; top:0;  background: #000;  }


#pljs_yt_zplayler{ pointer-events:none;  }  pjsdiv[i="9"]{  visibility: hidden;   pointer-events: none;  }

  pjsdiv[i="9"]:before{  //position:relative;top:-4px; 
  visibility: visible;   pointer-events: none;  content:'FCAS TECH:  Player'; }       //pjsdiv[i="9"]:after{  visibility: visible;   pointer-events: none;  position:relative;top:2px;content:url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgYv2VJfU90UM0se5N05dKFZWCf3sjG7IEC8jKLRbgzriaDnD8lIEc7GOUkyQSXvXjqkTMVzJ2MQ2HMZS-sdiPDmnXxx-mVwuqEORSERsSbbSG_JLQ8PvsBsTjDTM-rtmF7xc4pwfrok-lkqUVSCVH61QHaFw3GZHOQcaIMblW0G3gyAckm9JNHoqPGSf0/s20/Texh73_20240107_183420_0000-transformed.png'); }       



.llk .lk {    transition: 0.1s;display:none;   margin: 0 auto; width:100%; text-align:center; }
.llk {   transition: 0.1s;margin: 0 auto; width:100%; padding:4px;  text-align:center;}

 /* Style buttons */
.llk .btn, .llk .btn:active {      border-radius: 20px;    transition: 0.1s;  background-color: DodgerBlue;  border: none;  color: white;  padding: 12px 30px;  cursor: pointer;  font-size: 20px; }

/* Darker background on mouse-over */
.llk .btn:hover {  transition: 0.1s;  background-color: RoyalBlue;} 
.llk img {  width:24px; height:24px;margin:0 auto;}


* {  box-sizing: border-box;   transition: all 0.1s linear;   }

/* Style the body */
body {  font-family: Arial, Helvetica, sans-serif;  margin: 0;}

/* Header/logo Title */
.header {  padding: 80px;  text-align: center;  background: #111;  border-bottom: 2px solid #fff;  color: #fff;}

/* Increase the font size of the heading */
.header h1 {  font-size: 40px;}

/* Style the top navigation bar */
.navbar {  overflow: hidden;  background-color: #333;}

/* Style the navigation bar links */
.navbar a {  float: left;  display: block;  color: #fff;  text-align: center;  padding: 14px 20px;  text-decoration: none;}

/* Right-aligned link */
.navbar a.right {  float: right;}

/* Change color on hover */
.navbar a:hover {  background-color: #ddd;  color: #000;}

/* Column container */
.row {    display: -ms-flexbox; /* IE10 */  display: flex;  -ms-flex-wrap: wrap; /* IE10 */  flex-wrap: wrap;}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {  -ms-flex: 30%; /* IE10 */  flex: 30%;  background-color: #f1f1f1;  padding: 20px;}

/* Main column */
.main {     -ms-flex: 70%; /* IE10 */  flex: 70%;  background-color: white;  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {  background-color: #aaa;  width: 100%;  padding: 20px;}

/* Footer */
.footer {  padding: 20px;  text-align: center;  background: #ddd;}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {       flex-direction: column;  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {    float: none;    width: 100%;  }
}








.gdiv {  margin-bottom: 15px;color:#000;  padding: 4px 12px; text-align:center;  }

.gdiv.danger {  background-color: #ffdddd;  border-left: 6px solid #f44336;}
.gdiv.success {  background-color: #ddffdd;  border-left: 6px solid #04AA6D;}
.gdiv.info {  background-color: #e7f3fe;  border-left: 6px solid #2196F3;}
.gdiv.warning {  background-color: #ffffcc;  border-left: 6px solid #ffeb3b;}




.custom-loader {  width: 100px;  height: 100px;  border-radius: 50%;  background:     radial-gradient(farthest-side,#fff 94%,#0000) top/16px 16px no-repeat,    conic-gradient(#0000 30%,#fff);  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);  animation:s3 1s infinite linear;}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}








  .snackbar-container{ text-align:center;  user-select:none; transition:all .5s ease;transition-property:top,right,bottom,left,opacity;font-family:Roboto,sans-serif;font-size:14px;min-height:14px;background-color:#070b0e;position:absolute;display:flex;justify-content:space-between;align-items:center;color:#fff;line-height:22px;padding:18px 24px;bottom:-100px;top:-100px;opacity:0;z-index:9999}.snackbar-container .action{text-align:center; user-select:none;  background:inherit;display:inline-block;border:none;font-size:inherit;text-transform:uppercase;color:#4caf50;margin:0 0 0 24px;padding:0;min-width:min-content;cursor:pointer}@media (min-width:640px){.snackbar-container{min-width:288px;max-width:568px;display:inline-flex;border-radius:2px;margin:24px}}@media (max-width:640px){.snackbar-container{left:0;right:0;width:100%}}.snackbar-pos.bottom-center{top:auto!important;bottom:0;left:50%;transform:translate(-50%,0)}.snackbar-pos.bottom-left{top:auto!important;bottom:0;left:0}.snackbar-pos.bottom-right{top:auto!important;bottom:0;right:0}.snackbar-pos.top-left{bottom:auto!important;top:0;left:0}.snackbar-pos.top-center{bottom:auto!important;top:0;left:50%;transform:translate(-50%,0)}.snackbar-pos.top-right{bottom:auto!important;top:0;right:0}@media (max-width:640px){.snackbar-pos.bottom-center,.snackbar-pos.top-center{left:0;transform:none}}
  
  
  
    .sn-notifications-container{--sn-success-color: rgb(111, 207, 151);--sn-success-progress-color: rgb(84, 170, 120);--sn-error-color: rgb(235, 87, 87);--sn-error-progress-color: rgb(192, 69, 69);--sn-warning-color: rgb(242, 201, 76);--sn-warning-progress-color: rgb(196, 166, 79);--sn-info-color: rgb(81, 205, 243);--sn-info-progress-color: rgb(84, 169, 196);--sn-notifications-gap: 20px;--sn-notifications-padding: 20px;--sn-notify-width: 320px;--sn-notify-radius: 6px;--sn-notify-transition-timing-function: ease;--sn-notify-transition-duration: .5s;--sn-notify-autoclose-timeout: 30s;--sn-notify-padding: .75em;--sn-notify-icon-size: 2em;--sn-notify-close-icon-size: 1em;--sn-notify-border-size: 1px;--sn-notify-border-color: transparent;--sn-notify-border-style: solid;--sn-notify-progress-color: rgb(51, 51, 51);--sn-notify-close-icon-color: rgb(51, 51, 51);--sn-notify-title-color: rgb(51, 51, 51);--sn-notify-text-color: rgb(77, 77, 77);--sn-notify-shadow-color: transparent;--sn-notify-progress-height: 5px;pointer-events:none;width:100%;max-width:100%;max-height:100vh;min-height:100vh;position:fixed;z-index:9999;inset:0;display:grid;grid-auto-rows:min-content;align-content:flex-start;grid-gap:var(--sn-notifications-gap);gap:var(--sn-notifications-gap);padding:var(--sn-notifications-padding)}.sn-notifications-container.sn-is-x-center{justify-content:center}.sn-notifications-container.sn-is-y-center{align-content:center;justify-content:flex-end}.sn-notifications-container.sn-is-center{justify-content:center;align-content:center}.sn-notifications-container.sn-is-left{justify-content:flex-start}.sn-notifications-container.sn-is-right{justify-content:flex-end}.sn-notifications-container.sn-is-top{align-content:flex-start}.sn-notifications-container.sn-is-bottom{align-content:flex-end}.sn-notify{pointer-events:auto;transition-timing-function:var(--sn-notify-transition-timing-function);transition-duration:var(--sn-notify-transition-duration);transition-property:transform,opacity;border-radius:var(--sn-notify-radius);background-color:var(--sn-notify-background-color, transparent);border:var(--sn-notify-border-size) var(--sn-notify-border-style) var(--sn-notify-border-color);padding:var(--sn-notify-padding);box-sizing:border-box;display:flex;align-items:center;overflow:hidden;position:relative;text-decoration:none;width:var(--sn-notify-width)}.sn-notify-icon{display:flex;justify-content:center;align-items:center;flex-shrink:0;width:var(--sn-notify-icon-size);height:var(--sn-notify-icon-size);margin-right:.75em;color:var(--sn-notify-icon-color)}.sn-notify-close{position:absolute;right:.75em;top:.75em;user-select:none;cursor:pointer;display:flex;justify-content:center;align-items:center;height:var(--sn-notify-close-icon-size);width:var(--sn-notify-close-icon-size);color:var(--sn-notify-close-icon-color)}.sn-notify-title{font-size:1rem;font-weight:600;padding-right:calc(var(--sn-notify-padding) + var(--sn-notify-close-icon-size));color:var(--sn-notify-title-color)}.sn-notify-text{font-size:.875rem;margin-top:.25rem;color:var(--sn-notify-text-color)}.sn-notify-outline{--sn-notify-background-color: rgb(255, 255, 255);--sn-notify-border-color: var(--sn-success-color);box-shadow:0 2px 26px var(--sn-notify-shadow-color)}.sn-notify-outline.sn-notify-success{--sn-notify-border-color: var(--sn-success-color);--sn-notify-icon-color: var(--sn-success-color);--sn-notify-shadow-color: rgba(82, 215, 0, .1)}.sn-notify-outline.sn-notify-error{--sn-notify-border-color: var(--sn-error-color);--sn-notify-icon-color: var(--sn-error-color);--sn-notify-shadow-color: rgba(215, 0, 0, .1)}.sn-notify-outline.sn-notify-warning{--sn-notify-border-color: var(--sn-warning-color);--sn-notify-icon-color: var(--sn-warning-color);--sn-notify-shadow-color: rgba(242, 201, 76, .1)}.sn-notify-outline.sn-notify-info{--sn-notify-border-color: var(--sn-info-color);--sn-notify-icon-color: var(--sn-info-color);--sn-notify-shadow-color: rgba(84, 175, 202, .1)}.sn-notify-outline .sn-notify-title{--sn-notify-title-color: rgb(51, 51, 51)}.sn-notify-outline .sn-notify-text{--sn-notify-text-color: rgb(77, 77, 77)}.sn-notify-outline .sn-notify-close{--sn-notify-close-icon-color: rgb(130, 130, 130)}.sn-notify-filled{--sn-notify-title-color: rgb(51, 51, 51);--sn-notify-text-color: rgb(51, 51, 51);--sn-notify-icon-color: rgb(51, 51, 51);--sn-notify-close-icon-color: rgb(51, 51, 51)}.sn-notify-filled.sn-notify-success{--sn-notify-background-color: var(--sn-success-color)}.sn-notify-filled.sn-notify-error{--sn-notify-background-color: var(--sn-error-color)}.sn-notify-filled.sn-notify-warning{--sn-notify-background-color: var(--sn-warning-color)}.sn-notify-filled.sn-notify-info{--sn-notify-background-color: var(--sn-info-color)}.sn-notify-fade{opacity:0;will-change:opacity}.sn-notify-fade-in{opacity:1}.sn-notify-slide{opacity:0;will-change:opacity,transform;transform:translate3d(var(--sn-notify-x),var(--sn-notify-y),0)}.sn-is-left .sn-notify-slide{--sn-notify-x: -100%;--sn-notify-y: 0}.sn-is-right .sn-notify-slide,.sn-is-y-center:not(.sn-is-left) .sn-notify-slide{--sn-notify-x: 100%;--sn-notify-y: 0}.sn-is-top.sn-is-x-center .sn-notify-slide,.sn-is-x-center .sn-notify-slide{--sn-notify-y: -100%;--sn-notify-x: 0}.sn-is-bottom.sn-is-x-center .sn-notify-slide{--sn-notify-y: 100%;--sn-notify-x: 0}.sn-notify-slide-in{opacity:1;transform:translateZ(0)}.sn-notify-autoclose{padding-bottom:calc(var(--sn-notify-padding) + var(--sn-notify-progress-height))}.sn-notify-autoclose.sn-notify-success{--sn-notify-progress-color: var(--sn-success-progress-color)}.sn-notify-autoclose.sn-notify-error{--sn-notify-progress-color: var(--sn-error-progress-color)}.sn-notify-autoclose.sn-notify-warning{--sn-notify-progress-color: var(--sn-warning-progress-color)}.sn-notify-autoclose.sn-notify-info{--sn-notify-progress-color: var(--sn-info-progress-color)}.sn-notify-autoclose:before{content:"";display:block;position:absolute;left:0;bottom:0;will-change:width;width:100%;height:var(--sn-notify-progress-height);border-radius:0 999px 999px 0;background-color:var(--sn-notify-progress-color);animation:progress var(--sn-notify-autoclose-timeout) linear forwards}.sn-notify-content{padding-right:calc(var(--sn-notify-close-icon-size) + 2px)}@keyframes progress{to{width:0%}}


.sn-notify{  width: 100%;    overflow: auto;   user-select:none;   }






[data-tooltip] {
position: relative;
}
[data-tooltip]::before,
[data-tooltip]::after {
  text-transform: none;
  font-size: 16px;
  line-height: 1;
  position: absolute;
  display: none;
  opacity: 0;
}
[data-tooltip]::before {
  content: "";
  border: 6px solid transparent;
  z-index: 101;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  text-align: center;pointer-events:none;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9px 8px;
  border-radius: 6px;
  background: #333333;
  color: #FFFFFF;
  z-index: 100;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block;
}
[data-tooltip='']::before,
[data-tooltip='']::after {
  display: none !important;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow^="top"]::before {
   bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333333;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow^="top"]::before,
[data-tooltip][data-flow^="top"]::after {
  left: 50%;
  transform: translate(-50%, -.4em);
}
[data-tooltip][data-flow^="bottom"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333333;
}
[data-tooltip][data-flow^="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow^="bottom"]::before,
[data-tooltip][data-flow^="bottom"]::after {
  left: 50%;
  transform: translate(-50%, .4em);
}
[data-tooltip][data-flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[data-tooltip][data-flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.4em, -50%);
}
[data-tooltip][data-flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333333;
  right: calc(0em - 7px);
  transform: translate(.4em, -50%);
}
[data-tooltip][data-flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}
@keyframes tooltip-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltip-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[data-tooltip]:not([data-flow]):hover::before,
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow^="top"]:hover::before,
[data-tooltip][data-flow^="top"]:hover::after,
[data-tooltip][data-flow^="bottom"]:hover::before,
[data-tooltip][data-flow^="bottom"]:hover::after {
  animation: tooltip-vert .5s ease-out forwards;
}
[data-tooltip][data-flow^="left"]:hover::before,
[data-tooltip][data-flow^="left"]:hover::after,
[data-tooltip][data-flow^="right"]:hover::before,
[data-tooltip][data-flow^="right"]:hover::after {
  animation: tooltip-horz .5s ease-out forwards;
}


.darkmode [data-tooltip]::after {
   background: #FFFFFF;
  color: #333333;
}
.darkmode [data-tooltip][data-flow^="top"]::before {  border-top-color: #FFFFFF; }
.darkmode [data-tooltip][data-flow^="bottom"]::before { border-bottom-color: #FFFFFF; }
.darkmode [data-tooltip][data-flow^="left"]::before { border-left-color: #FFFFFF; }
.darkmode [data-tooltip][data-flow^="right"]::before {  border-right-color: #FFFFFF; }






.llk .lk[type=file] {    transition: all 0.1s linear;   width: 350px;  max-width: 100%;  color: #444;  padding: 5px;  background: #fff;  border-radius: 10px;  border: 1px solid #555;   margin-bottom: 8px;  }
.llk .lk[type=file]::file-selector-button {   transition: all 0.1s linear;    margin-right: 20px;  border: none;  background: #084cdf;  padding: 10px 20px;  border-radius: 10px;  color: #fff;  cursor: pointer;  transition: background .2s ease-in-out;  }
.llk .lk[type=file]::file-selector-button:hover {  transition: all 0.1s linear;     background: #0d45a5;   }





.llk form.busca{
width:70%;
margin: 0 auto;
}


.llk form.busca input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

.llk form.busca button {
  float: left;
  width: 30%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
.llk form.busca button:hover {
  background: #0b7dda;
}

.llk form.busca::after {
  content: "";
  clear: both;
  display: table;
}

.llk form.busca .container {
  float: left;
display:block;
  width:20%;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.llk form.busca .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #eee;
}


.llk form.busca .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.llk form.busca .container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.llk form.busca .container input:checked ~ .checkmark:after {
  display: block;
}


.llk form.busca .container .checkmark:after {
  left: 15px;
  top: 25px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


